
#all {
	background-color:#b7ffff;	
	width:600px;
}

#score {
	clear:left;  
	padding:1px;
	margin-top:25px;
	border: 0px dotted red;    
	height:30px;
	width:100%;            
	background-color :#dadada;
				
}

#numbers > div[class='number'] {				
	float:left;
	width:40px;
	height:40px;
	font-size:25px;
	background:yellow;
	color:black;
	text-align:center;	
	border: 1px solid #aaa;  				
}

#numbers {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;				
	margin-right:10px;
}
